@tailwind base;
@tailwind components;
@tailwind utilities;

.dot {
  transition: background-color 0.5s ease-in-out;
}

.bg-light {
  background-color: #ffffff;
}

.bg-dark {
  background-color: #000000;
}
